@model IEnumerable<AT_ASP.Web.Models.LivrosDoAutorModel>
<br />
<h3 class="text-center">Livros do Autor</h3>
<p>
    
</p>
<div class="col-md-offset-8 text-right">
    <p class="btn btn-lg btn-default ">
        @Html.ActionLink("+1 Livro", "Create", "Livros")
    </p>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.titulo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isbn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ano)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.titulo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isbn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ano)
        </td>
        <td class="text-right">
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
